@page "/"

<main>
    <header>
        <h1>Header</h1>
        <p>"Holding"</p>
    </header>

    <div class="home-wrapper">
        <section>
            <h2>Placeholder</h2>
            <p>Place</p>
        </section>

        <section>
            <h2>Something Else</h2>
            <p>Something</p>
        </section>
    </div>
</main>

<footer></footer>