@page "/wordsearch"

<main>
    <header>
        <h1>WordSearch</h1>
        <p>"Create your own puzzle"</p>
    </header>

    <div class="wordsearch-wrapper">
        <section>
            <h2>Placeholder</h2>
            <p>Place</p>
        </section>

        <section>
            <h2>Something Else</h2>
            <p>Something</p>
        </section>
    </div>
</main>

<footer></footer>