@namespace MyResource.Web.Layout
@inherits LayoutComponentBase

<div class="layout">
    <aside>
        <div class="aside-logo">
            <img src="img/the-guy.jpg" alt="Logo" />
            <h2>MyResource</h2>
        </div>

        <nav class="main-nav">
            <ul>
                <li><NavLink href="/">Home</NavLink></li>
                <li><NavLink href="/thoughts">Thoughts</NavLink></li>
                <li><NavLink href="/palettes">Palettes</NavLink></li>
                <li><NavLink href="/wordsearch">WordSearch</NavLink></li>
            </ul>
        </nav>
    </aside>

    <div class="layout-right">
        @Body
    </div>
</div>